body{
	background-color: lemonchiffon;
}
p{
	font-size: 50px;
	font-family: cursive;
	color: fuchsia;
	background-color: lightpink;
}
a{
	text-decoration: none;
}
.sl{
	font-size: 24px;
	border: solid 4px darkgoldenrod;
	color: darkgoldenrod;
	background-color: darkslateblue;
	padding: 5px;
}
.sl:hover{
	border: solid 4px darkslateblue;
	color: darkslateblue;
	background-color: darkgoldenrod;
}
.sl{
	font-size: 24px;
	border: solid 4px darkgoldenrod;
	color: darkgoldenrod;
	background-color: darkslateblue;
	padding: 5px;
}
.sl:hover{
	border: solid 4px darkslateblue;
	color: darkslateblue;
	background-color: darkgoldenrod;
	font-weight: bold;
	box-shadow: 5px -5px darkslateblue;
}
/*gb*/
.myButton {
	box-shadow:inset 0px 1px 14px 0px #97c4fe;
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	background-color:#3d94f6;
	border-radius:29px;
	border:3px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Georgia;
	font-size:24px;
	font-weight:bold;
	padding:14px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
}
.myButton:hover {
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:#1e62d0;
}
.myButton:active {
	position:relative;
	top:1px;
}
/*gb1*/
.myButton1 {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:24px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton1:hover {
	background-color:#5cbf2a;
}
.myButton1:active {
	position:relative;
	top:1px;
}