header{
	height: 250px;
	background-color: lightblue;
}
nav,aside{
	width: 20%;
	background-color: lightgoldenrodyellow;
	float: left;
}
h2{
	text-align: center;
}
main{
	width: 60%;
	background-color: lightgreen;
	float: left;
}
footer{
	height: 250px;
	background-color: lightsalmon;
	clear: both;
}
article{
	border: dashed 3px green;
	margin: 5px;

}
article p{
	text-align: justify;
	margin: 5px ;
}
#youtube iframe{
	display: block;
	margin: auto;
}
.bgvideo{
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

}
.bgvideo video{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	z-index: 1;

}
h1{
	z-index: 2;
	color: white;
}
a{
	text-decoration: none;
}
/* CSS */
.button-89 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 18px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 80%;
  display: block;
  margin: 20px;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}