body{
	background-color: lightblue;
}
p{
	front-size:30px;
.p1{
	color: black;
	background-color: pink;
}
.p2{
	front-family:sans-serif;
}
.p3{
	font-family: Georgia, Times, "Times New Roman",  serif;
}
